/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 80px;
    background-color: #222;
    color: #fff;
    margin-bottom: 20px;
}

.nav-title {
    padding-top: 20px;
    padding-left: 40px;
   
}
.text-center {
    text-align: center;
    margin-bottom: 20px;
}
.flex-container.main {
    align-items: flex-start;
}

.col-2 {
    flex: 2;
    
}

.col-1 {
    flex: 1;
    margin-right: 20px;
}

.card {
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    overflow: hidden;
}


.card-header {
    padding: 20px;
   display: flex;
   justify-content: space-between;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.like {
    background-color: #ffd966;
    padding: 5px 7px;
    box-shadow: 5px 2px 4px black;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 170px;
    padding: 5px;
    margin-bottom: 40px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}

.dates {
    color: #777;
}

.card-list {
    padding: 0 20px;
    padding-top: 20px;
    list-style-type: none;
}

.card-list-item, 
.card-list-item > * {
    display: flex;
    align-items: center;
}

.card-list-item {
    margin-bottom: 20px;
    justify-content: space-between;
}

.card-list-item.start {
    justify-content: flex-start;
}

.avatar-s, .icon {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon {
    height: 35px;
}

.icon, .btn {
    cursor: pointer;
}

.icon:last-child {
    margin-right: 0;
}

.badge {
    font-size: 1rem;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    background-color: #999;
    border-radius: 12px;
    margin-right: 10px;
}